/* OFFICE-CSS */

.officeprod {
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Italiana', sans-serif;
   font-size: x-large;
   font-size: xx-large;
}

.prod-card {
   border: 1px solid #ccc;
   padding: 10px;
   margin: 10px;
   width: 220px;
   text-align: center;
   background-color: rgb(223, 219, 219);
   border-radius: 20px;
   stroke: rgb(24, 24, 24);
   stroke-width: 10px;
}

.img-office {
   border-radius: 10px;
   transition: 300ms;
   cursor: pointer;
}

.img-office:hover {
   box-shadow: 5px 5px 10px 5px;
   color: rgba(143, 143, 143, 0.619);

}

.product-container-office {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   position: relative;
   justify-content: space-evenly;
}

.banner {
   width: 100%;
   height: 75vh;
   background-color: #ffffff;
   border-radius: 25px;
   font-family: 'Italiana', sans-serif;
   font-size: x-large;
}

.bannertxt1 {
   display: flex;
   position: relative;
   right: 30%;
}

.all-office {
   width: 100px;
   height: 40px;
   flex-shrink: 0;
   border-radius: 20px 20PX 20PX 20px;
   border: 1px solid #878484;
   transition: 300ms;
   background: #FFF;
   cursor: pointer;
   font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.all-office:hover {
   transform: scale(1.1);
   background-color: black;
   color: #FFF;
}

.button-filt {
   width: 100px;
   height: 40px;
   flex-shrink: 0;
   border-radius: 20px 20PX 20PX 20px;
   background: #FFF;
   border: 1px solid #878484;
   transition: 300ms;
   cursor: pointer;
   font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-filt:hover {
   transform: scale(1.1);
   background-color: black;
   color: #FFF;
}

.office-button {
   display: flex;
   justify-content: space-evenly;


}

.imgb {
   width: 1500px;
   height: 510px;
   border-radius: 20px;
   filter: contrast(1.1);
}

/* OFFICE-CSS */
