.show {
    padding-top: 0%;

}
.sofa-png {
    transition: 1s;
    position: relative;
    left: 5%;
    top: 3;                     
    display: flex;
    align-items: center;
    float: left;
    cursor: pointer;
}

.sofa-png:hover {
    transform: scale(1.3);
}

.sofa-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.aboutprod {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 20%;
    font-size: small;
}

.ttable {
    display: flex;
    position: relative;
    float: left;
    left: 40%;
    transition: 1s;
    cursor: pointer;
}

.ttable:hover {
    width: 450px;
    height: 450px;
}


.ttable-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 15%;
    float: left;
    font-size: small;
}

.chair {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    right: 70%;
    display: flex;
    align-items: center;
    float: right;
    padding-top: 5%;
    transition: 1s;
    cursor: pointer;
}

.aboutchair {

    padding-right: 20%;
    float: right;
    width: 20%;
    height: 20%;
    font-size: small;

}

.chair:hover {
    transform: scale(1.3);

}

.metaltable {
    display: flex;
    position: relative;
    float: left;
    left: 55%;
    transition: 1s;
    cursor: pointer;
}

.aboutmetal {

    float: right;
    width: 20%;
    height: 20%;
    font-size: small;
}

.metaltable:hover {
    transform: scale(1.2);
}

.ask {
    width: 100%;
    height: 100vh;
    background-color: rgba(161, 161, 164, 0.142);

    font-family: 'Times New Roman', Times, serif;
}

.interior-req {
    width: 100%;
    height: 75vh;
    background-color: white;

    float: left;
}

.book {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: x-large;
    padding-right: 50%;
    position: relative;
    right: 40%;
}

.subbook {
    position: relative;
    right: 40%;
    bottom: 10px;
}

.title1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 35%;
    font-size: x-large;
}

.whyusli {
    display: flex;
    justify-content: center;
    margin-left: 10px;

}

.promise {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    font-style: italic;
}

.card-pro {
    width: fit-content;
    height: fit-content;
    background-color: rgba(161, 161, 164, 0.255);
    border-radius: 10%;


}

.warranty {
    display: flex;
    align-items: center;
    justify-content: center;

}

.product-spc {
    width: fit-content;
    height: fit-content;

}

.most-selling {
    width: 100%;
    height: 100vh;
    background-color: white;
    float: left;

}

.most-head1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2%;
}

.sopr {
    margin-left: 2%;
}

.sofa-card {

    width: 200px;
    height: 200px;
    background: rgb(223, 219, 219);
    margin-left: 20%;
    border-radius: 10%;
    margin-top: 1%;


    border-color: rgba(0, 0, 0, 0.627);

}

.sofacat {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 30%;
    border-top: 100px;
    transition: 300ms;
    cursor: pointer;
}

.sofacat:hover {
    transform: scale(1.5);
}

.name-card-sofa {
    display: flex;
    align-items: center;
    justify-content: center;
}



.bed-card {

    width: 200px;
    height: 200px;
    background: rgb(223, 219, 219);
    border-radius: 10%;
    margin-top: 1%;
    margin-left: 2%;

    border-color: rgba(0, 0, 0, 0.627);

}

.tv-card {

    width: 200px;
    height: 200px;
    background: rgb(223, 219, 219);
    border-radius: 10%;
    margin-top: 1%;
    margin-left: 2%;

    border-color: rgba(0, 0, 0, 0.627);
}

.flexdir {
    display: flex;
    flex-direction: row;
}

.req-int {
    width: 100%;
    height: 100vh;
    background-color: white;
    float: left;

}

.req-title {
    margin-top: 3%;
}

.consalt-intro {
    margin-left: 35%;
}

.int-poster {
    margin-left: 0%;
    border-radius: 20px;
    animation: translateAnimation 2s ease-in-out infinite;
}

@keyframes translateAnimation {

    0%,
    100% {
        transform: translatey(0);
    }

    50% {
        transform: translatey(20px);
    }
}


.req-form {
    width: 450px;
    height: 450px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    position: relative;
    right: 60px;
    margin-right: 20%;
    margin-top: 5%;
    background: linear-gradient(90deg, rgba(0, 24, 36, 0.8464635854341737) 0%, rgba(255, 255, 255, 0.8324579831932774) 0%, rgba(199, 216, 221, 0.4767156862745098) 77%);

}

#name {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-style: dashed;
}

#phone {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-style: dashed;
}

#gmail {
    width: 300px;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 15px;
    border-style: dashed;
}

#askbt {
    height: 35px;
    width: 70px;
    position: relative;
    left: 33%;
    border-radius: 20px;
    background-color: rgba(255, 5, 130, 0.982);
    cursor: pointer;
    border-style: none;
    transition: 300ms;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#askbt:hover {
    transform: translatey(10px);
}

.portfolio {
    width: 100%;
    height: 100vh;
    background-color: white;
    float: left;
}

.semi {
    width: 745px;
    height: 696px;
    flex-shrink: 0;
    border-radius: 745px;
    background: rgba(76, 184, 191, 0.34);
}

.work1 {
    border-radius: 25px;
}

.work2 {
    border-radius: 25px;
}

.work3 {
    border-radius: 25px;
}

.consalt-book {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-but {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 48%;
    height: 35px;
    width: 70px;
    cursor: pointer;
    border-style: none;
    border-radius: 20px;
    background-color: rgba(255, 5, 130, 0.982);
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 300ms;
}

.book-but:hover {
    transform: translatey(15px)
}

.social {
    width: 75%;
    height: 20%;
    background: rgba(0, 24, 36, 0.421);
    background: linear-gradient(90deg, rgba(0, 24, 36, 0.8464635854341737) 0%, rgba(142, 147, 183, 0.238) 0%, rgba(169, 191, 194, 0.682) 72%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 15%;
    border-radius: 20px;



}

.heads {
    position: relative;
    right: 30%;
   
}
.insta{
   position: relative;
   right: 7%;
   cursor: pointer;
   transition: 300ms;
}
.insta:hover{
   transform: translatey(15px);
}
.you{
   position: relative;
   right: 2%;
   cursor: pointer;
   transition: 300ms;
}
.you:hover{
   transform: translatey(15px);
}
.face{
   position: relative;
   left: 4%;
   cursor: pointer;
   transition: 300ms;
}
.face:hover{
   transform: translatey(15px);
}

