.pre-title {
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 5%;
   
}
.main-sofa-pg{
    position: relative;
    left: 300px;
    bottom: 111px;
   
}
.ms-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    position: relative;
    bottom: 75px;
}