/* Style for the fixed side navigation bar */
.main-side {
  position: fixed;
  left: 0;
  /* Position the sidebar on the left side */
  top: 0;
  /* Align the top of the sidebar to the top of the page */
  height: 100%;
  /* Make the sidebar take the full height of the viewport */
  width: 200px;
  /* Set the width of the sidebar according to your preference */
  background-color: #333;
  /* Set the background color */
  padding: 15px;
  /* Add some padding to the links */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

/* Style for the links in the fixed side navigation bar */
.main-side a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}
/* Admin.css */
.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-title {
  margin: 20px 0;
}

.count-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.count-box {
  background-color: rgba(128, 128, 128, 0.614);
  padding: 20px;
  margin: 10px;
  text-align: center;
  border-radius: 8px;
  border-style: dashed;
}

.count-category {
  font-weight: bold;
  margin-bottom: 10px;
}

.count {
  font-size: 24px;
  font-weight: bold;
}
.logoutbt{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 48%;
  height: 35px;
  width: 70px;
  cursor: pointer;
  border-style: none;
  border-radius: 20px;
  background-color:#10E0D3;
  font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: 300ms;
}
.logoutbt:hover{
  transform: translatey(15px)
}


/* Change the background color on hover */
.main-side a:hover {
  background-color: #555;
}

/* admin.css */

/* General styles for the admin page */


/* Styles for the side nav */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

.sidenav a {
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.product-list-container {
  margin-left: 250px;
  padding: 20px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
}

.product-table th,
.product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.product-table th {
  background-color: #f2f2f2;
}

.product-table button {
  cursor: pointer;
  margin-right: 5px;
}

.new-request {
  background-color: #ffffcc;
}

@media screen and (max-width: 768px) {
  .product-list-container {
    margin-left: 0;
  }

  .product-table {
    overflow-x: auto;
  }
}